* {
  margin: 0;
  padding: 0; }

p, h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.fondo__body {
  background-image: url(../images/fondo.jpg); }

.fondo__body {
  width: 100%; }

.padding-top {
  padding-top: 55px; }

.icon {
  color: black; }

.lista {
  flex-direction: row;
  justify-content: flex-end; }

.footer {
  background-color: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%; }

.footer__icon {
  color: white;
  display: inline;
  margin-bottom: 30px; }

.footer__preguntas {
  color: #747474; }

.footer__title {
  color: #747474;
  margin-bottom: 30px;
  margin-top: 20px; }

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.footer__columnflex {
  display: flex;
  flex-direction: column;
  margin-left: 20px; }

.section__image {
  height: 100%;
  width: -webkit-fill-available; }

.section__p--image {
  margin-left: 30px;
  font-size: 38px; }

.section__article {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 500px;
  justify-content: space-between;
  justify-items: center;
  align-items: center; }

/*pages proyectos*/
.nav {
  width: 100%;
  position: fixed;
  z-index: 1000; }

.proyect__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3.1px;
  padding-top: 55px; }

.proyect__image {
  width: 420px;
  height: 350px;
  opacity: 0.6; }

.proyect__image:hover {
  opacity: 1; }

.proyect__image {
  transition: all 0.9s; }

/* pages contacto */
form {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  padding-top: 80px;
  margin-top: 50px;
  margin-bottom: 300px;
  margin: auto; }

.form-group {
  margin-top: 2rem; }

.mbottom {
  margin-bottom: 2rem; }

/* pages servicios */
.servicios__h2 {
  text-align: center;
  padding-top: 90px;
  width: 700px;
  height: 250px;
  margin: auto; }

.servicios__h2--font {
  font-size: 55px;
  color: #141414; }

.servicios__h2--font--p {
  font-size: 20px;
  color: #141414; }

.servicios__bloque--texto {
  display: inline-block;
  background-color: white;
  width: 351px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 70px;
  padding-bottom: 20px; }

.servicios__p {
  color: #5a5a5a; }

.servicios__image--fondo {
  margin-top: 70px;
  width: 100%;
  height: 700px;
  opacity: 0.8; }

.servicios__image--fondo:hover {
  opacity: 1; }

.servicios__image--fondo {
  transition: all 0.4s; }

.servicios__image--principal {
  width: 100%;
  height: 100%; }

.servicios__row {
  display: flex;
  flex-direction: row;
  float: right; }

.servicios__section {
  border-left: solid 1px #bbbbbb;
  background-color: white;
  width: 304px;
  height: 584px; }

.servicios__h3 {
  text-align: center;
  padding-top: 80px;
  color: #5a5a5a; }

.servicios__p--pasos {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #5a5a5a; }

/* pages nosotros */
.pNosotros {
  width: 500px;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 100px; }

/*responsive*/
@media (max-width: 600px) {
  .fondo__body {
    background-image: none;
    background-color: whitesmoke; }
  .footer__row {
    flex-direction: column; }
  .section__article {
    grid-template-columns: repeat(1, 100%); }
  .section__p--image {
    font-size: 30px; }
  .section__image {
    display: none; }
  .line_mediaquary {
    width: 300px;
    border-bottom: solid 1px black;
    margin-left: 135px; }
  .proyect__image {
    width: 100%;
    height: 380px; }
  .servicios__h2 {
    text-align: center;
    padding-top: 90px;
    width: 400px;
    height: 250px;
    margin: auto; }
  .servicios__h2--font {
    font-size: 45px;
    color: #141414; }
  .servicios__h2--font--p {
    font-size: 15px;
    color: #141414; }
  .animate__backInRight {
    animation-name: backInLeft; }
  .servicios__bloque--texto {
    width: 100%;
    height: 400px; }
  .servicios__image--fondo {
    margin-top: 50px;
    width: 100%;
    height: 450px; }
  .servicios__row {
    display: flex;
    flex-direction: column;
    float: none;
    width: 100%; }
  .servicios__section {
    border-left: none;
    border-top: solid 1px #bbbbbb;
    border-bottom: solid 1px #bbbbbb;
    background-color: white;
    width: 100%; }
  .servicios__h3 {
    text-align: center;
    padding-top: 100px;
    color: #5a5a5a;
    font-size: 40px; }
  .servicios__p--pasos {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    color: #5a5a5a;
    font-size: 20px; } }
