* {
  margin: 0;
  padding: 0; }

p, h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.fondo__body {
  background-image: url(../images/fondo.jpg); }

.fondo__body {
  width: 100%; }

.padding-top {
  padding-top: 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); }

.icon {
  color: black; }

.lista {
  flex-direction: row;
  justify-content: flex-end; }

.footer {
  background-color: #222222;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%; }

.footer__icon {
  color: white;
  display: inline;
  margin-bottom: 30px; }

p .footer__preguntas, h2 .footer__preguntas {
  text-decoration: none;
  color: #747474; }

.footer__title {
  color: #747474;
  margin-bottom: 30px;
  margin-top: 20px; }

.footer__row {
  display: flex;
  flex-direction: row; }

.footer__columnflex {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  width: 270px; }

.footer__columnflex--2 {
  display: flex;
  flex-direction: column; }

.footer__p--desarrollo {
  margin-left: 200px;
  margin-top: 160px;
  font-size: 10px; }

.section__image {
  height: 100%;
  width: -webkit-fill-available;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); }

.section__p--image {
  margin-left: 35px;
  font-size: 32px;
  color: #5a5a5a; }

.section__article {
  display: grid;
  margin-top: 3px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 500px;
  justify-content: space-between;
  justify-items: center;
  align-items: center; }

/*pages proyectos*/
.nav {
  width: 100%;
  position: fixed;
  z-index: 1000; }

.proyect__row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px; }

.section_columna {
  flex: 10%;
  max-width: 50%;
  padding: 5px 12px; }
  .section_columna img {
    margin-top: 16px;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
    transition: all 0.9s ease; }

.section_columna img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  filter: saturate(180%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  transform: scale(1.1); }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .7s ease;
  visibility: hidden;
  opacity: 0; }
  .overlay .slideshow {
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    position: relative;
    display: flex;
    justify-content: center; }
  .overlay img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.btn_cerrar {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 11px;
  transition: all .2s ease; }

.btn_cerrar:hover {
  transform: scale(1.2);
  cursor: pointer; }

.boton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.boton:hover > i {
  transform: scale(1.1);
  transition: all .2s ease; }

.left {
  left: 20px; }

.right {
  right: 20px; }

.mdi {
  pointer-events: none; }

/* pages contacto */
form {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  padding-top: 80px;
  margin-top: 50px;
  margin-bottom: 300px;
  margin: auto; }

.label_left {
  display: flex;
  justify-content: flex-start; }

.form-group {
  margin-top: 2rem; }

.mbottom {
  margin-bottom: 2rem; }

/* pages servicios */
.servicios__h2 {
  text-align: center;
  padding-top: 90px;
  width: 700px;
  height: 250px;
  margin: auto; }

.servicios__h2--font {
  font-size: 55px;
  color: #141414; }

.servicios__h2--font--p {
  font-size: 20px;
  color: #141414; }

.servicios__bloque--texto {
  display: inline-block;
  background-color: white;
  width: 330px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 70px;
  padding-bottom: 20px; }

.servicios__p {
  color: #5a5a5a; }

.servicios__image--fondo {
  margin-top: 70px;
  width: 100%;
  height: 700px;
  opacity: 0.8; }

.servicios__image--fondo:hover {
  opacity: 1; }

.servicios__image--fondo {
  transition: all 0.4s; }

.servicios__image--principal {
  width: 100%;
  height: 100%; }

.servicios__row {
  display: flex;
  flex-wrap: wrap;
  float: right; }

.servicios__section {
  flex: 20%;
  border-left: solid 1px #bbbbbb;
  background-color: white;
  width: 304px;
  height: 584px; }

.servicios__h3 {
  text-align: center;
  padding-top: 80px;
  color: #5a5a5a; }

.servicios__p--pasos {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #5a5a5a; }

/* pages nosotros */
.nosotros__description {
  width: 565px;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 170px; }

.nosotros__description--p {
  font-size: 20px;
  text-align: center;
  color: #5a5a5a; }

.nosotros__description--line {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px #bbbbbb;
  width: 300px; }

.nosotros__sections--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  margin-bottom: 10px; }

.nosotros__sections--column {
  width: 300px;
  height: 100%; }

.nosotros__sections--column--2 {
  width: 430px;
  height: 100%; }

.nosotros__p {
  text-align: center;
  font-size: 32px;
  padding-left: 25px;
  padding-right: 25px;
  color: #5a5a5a; }

.nosotros__p--2 {
  text-align: center;
  font-size: 22px;
  color: #5a5a5a; }

.nosotros__p--2--title {
  font-size: 32px;
  text-align: center;
  color: #5a5a5a; }

.nosotros__color--icon {
  color: #5a5a5a;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: 80px; }

.nosotros__sections--regla {
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: 30px;
  color: #5a5a5a; }

/*responsive*/
@media screen and (max-width: 1024px) {
  .servicios__section {
    width: 230px; } }

@media screen and (max-width: 1000px) {
  .section_columna {
    flex: 30%;
    max-width: 50%; }
    .section_columna img {
      height: 280px; }
  .servicios__bloque--texto {
    width: 100%;
    height: 400px;
    padding-left: 35px;
    padding-top: 45px;
    border-bottom: solid 1px #bbbbbb; }
  .servicios__section {
    width: 100%; }
  .border--none {
    border-left: none; } }

@media screen and (max-width: 900px) {
  .nosotros__sections--column {
    width: 245px; }
  .nosotros__sections--column--2 {
    width: 375px; } }

@media screen and (max-width: 800px) {
  .footer__row {
    flex-direction: column; }
  .fondo__body {
    background-image: none;
    background-color: whitesmoke; }
  .section__article {
    grid-template-columns: repeat(1, 100%); }
  .section__p--image {
    font-size: 30px; }
  .section__image {
    display: none; }
  .line_mediaquary {
    width: 300px;
    border-bottom: solid 1px #bbbbbb;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .section_columna {
    flex: 50%;
    max-width: 50%; }
    .section_columna img {
      height: 250px; }
  .boton {
    font-size: 55px; }
  .left {
    left: 5px; }
  .right {
    right: 5px; }
  .slideshow img {
    width: 98%; }
  .servicios__h2 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px; }
  .servicios__bloque--texto {
    width: 100%;
    height: 400px;
    padding-left: 35px;
    padding-top: 45px;
    border-bottom: solid 1px #bbbbbb; }
  .border--none {
    border-left: none; }
  .nosotros__description {
    width: 100%; }
  .nosotros__sections--column {
    width: 245px;
    height: 100%; }
  .nosotros__sections--column--2 {
    width: 375px;
    height: 100%; }
  .nosotros__p {
    font-size: 30px; }
  .nosotros__p--2 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px; }
  .nosotros__p--2--title {
    font-size: 32px; } }

@media screen and (max-width: 750px) {
  .nosotros__description {
    padding-left: 10px;
    padding-right: 10px; }
  .nosotros__sections--row {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 760px; }
  .nosotros__sections--column {
    width: 100%;
    height: 100%;
    margin-bottom: 20px; }
  .nosotros__sections--column--2 {
    width: 100%;
    height: 100%;
    margin-top: 20px; }
  .nosotros__p {
    font-size: 35px;
    padding-right: 195px;
    padding-left: 195px; } }

@media screen and (max-width: 600px) {
  .fondo__body {
    background-image: none;
    background-color: whitesmoke; }
  .footer__row {
    flex-direction: column; }
  .section__article {
    grid-template-columns: repeat(1, 100%); }
  .section__p--image {
    font-size: 30px; }
  .section__image {
    display: none; }
  .section_columna {
    flex: 100%;
    max-width: 100%; }
    .section_columna img {
      height: 370px; }
  .servicios__h2 {
    text-align: center;
    padding-top: 90px;
    width: 100%;
    height: 250px;
    margin: auto; }
  .servicios__h2--font {
    font-size: 45px;
    color: #141414; }
  .servicios__h2--font--p {
    font-size: 15px;
    color: #141414; }
  .animate__backInRight {
    animation-name: backInLeft; }
  .servicios__bloque--texto {
    width: 100%;
    height: 400px;
    border-bottom: none; }
  .servicios__image--fondo {
    margin-top: 50px;
    width: 100%;
    height: 450px; }
  .servicios__row {
    display: flex;
    flex-direction: column;
    float: none;
    width: 100%; }
  .servicios__section {
    flex: 100%;
    border-left: none;
    border-top: solid 1px #bbbbbb;
    border-bottom: solid 1px #bbbbbb;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 95px; }
  .servicios__h3 {
    text-align: center;
    padding-top: 100px;
    color: #5a5a5a;
    font-size: 40px; }
  .servicios__p--pasos {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    color: #5a5a5a;
    font-size: 20px; }
  .nosotros__description {
    padding-left: 30px;
    padding-right: 30px; }
  .nosotros__sections--row {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 760px; }
  .nosotros__sections--column {
    width: 100%;
    height: 100%;
    margin-bottom: 20px; }
  .nosotros__sections--column--2 {
    width: 100%;
    height: 100%;
    margin-top: 20px; }
  .nosotros__p {
    font-size: 30px;
    padding-right: 190px;
    padding-left: 190px; }
  .nosotros__p--2 {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px; }
  .nosotros__p--2--title {
    font-size: 32px; } }

@media screen and (max-width: 500px) {
  .section__p--image {
    font-size: 23px; }
  .nosotros__p {
    padding-right: 109px;
    padding-left: 109px; } }

@media screen and (max-width: 400px) {
  .section__p--image {
    font-size: 20px;
    margin-left: 20px; }
  .servicios__bloque--texto {
    height: 560px; } }
